<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lenovo.tb_x505x"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.device"
                android:requiredSystemPropertyValue="TB-X505X"
		android:priority="495"
		android:isStatic="true" />
</manifest>
