<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.phh.treble.overlay.alldocube.iplay30"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:requiredSystemPropertyName="ro.product.device"
        android:requiredSystemPropertyValue="T1012"
        android:priority="620"
        android:isStatic="true" />
</manifest>
