<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.phh.treble.overlay.motorola.austin"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
        android:requiredSystemPropertyValue="+*motorola/austin_g*"
        android:priority="627"
        android:isStatic="true" />
</manifest>
